body
{
	margin: auto;
	width: 650px;
	font-family: sans-serif;
	background-color: red;
}

h1
{
	font-style: italic;
	color: grey;
	font-size: 2em;
}

h2,h3
{
	color: grey;
}

#Titredusite
{
	background-color: blue;
}